Node_red/Node-red flow.json
[{"id":"54d10c21.f0adc4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"67029248.9621ec","type":"ibmiot in","z":"54d10c21.f0adc4","authentication":"apiKey","apiKey":"198dd0ba.e452af","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"5684","applicationId":"","deviceType":"IOTPumpSystem","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":220,"wires":[["9f01ebd0.bdd698","191a804b.05239","a9287fb6.d18dd","9525298.53324d8","ef77198d.b3d678","fe8379e1.acda08"]]},{"id":"9f01ebd0.bdd698","type":"function","z":"54d10c21.f0adc4","name":"Lubrication Level","func":"msg.payload = msg.payload.Lubricationlevel\nglobal.set('lublev',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":220,"wires":[["a3146ab6.8bc998"]]},{"id":"a3146ab6.8bc998","type":"ui_gauge","z":"54d10c21.f0adc4","name":"","group":"8b3bfa10.d1a138","order":1,"width":7,"height":6,"gtype":"wave","title":"Lubrication Level ","label":"%  ","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#04f500"],"seg1":"","seg2":"","x":910,"y":220,"wires":[]},{"id":"191a804b.05239","type":"function","z":"54d10c21.f0adc4","name":"Status alert","func":"msg.payload = msg.payload.Stats\nglobal.set('sts',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":280,"wires":[["e732da60.3deda8","7a2b8fd9.416c5"]]},{"id":"33842bf8.fd4d84","type":"ibmiot out","z":"54d10c21.f0adc4","authentication":"apiKey","apiKey":"198dd0ba.e452af","outputType":"cmd","deviceId":"5684","deviceType":"IOTPumpSystem","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1320,"y":740,"wires":[]},{"id":"7c22c45e.2d424c","type":"ui_microphone","z":"54d10c21.f0adc4","name":"","group":"ece7a8ed.cee558","order":2,"width":11,"height":1,"maxLength":"10","maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":210,"y":600,"wires":[["288890cf.3428b"]]},{"id":"288890cf.3428b","type":"watson-speech-to-text","z":"54d10c21.f0adc4","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"pump on","keywords-threshold":"1","word-confidence":true,"password":"","apikey":"Pyly0nljgfYDXfl5reZcd4vx1qKtNULfFEtHR9ugCy5a","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/23b4d022-5e28-4fd5-bfc5-0f57c27c929f","x":400,"y":600,"wires":[["21a72bde.f679c4","b71bf5c7.abfa18"]]},{"id":"a9287fb6.d18dd","type":"function","z":"54d10c21.f0adc4","name":"Pump Level","func":"msg.payload = msg.payload.Pumplevel\nglobal.set('pmplev',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":360,"wires":[["f1f4dde3.bb50f"]]},{"id":"f1f4dde3.bb50f","type":"ui_gauge","z":"54d10c21.f0adc4","name":"","group":"d67e45f4.581ec8","order":1,"width":6,"height":6,"gtype":"wave","title":"Pump Level ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":360,"wires":[]},{"id":"913e11a7.e0c47","type":"ui_button","z":"54d10c21.f0adc4","name":"","group":"d67e45f4.581ec8","order":2,"width":6,"height":1,"passthru":true,"label":"FILL PUMP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"fill pump\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1030,"y":760,"wires":[["33842bf8.fd4d84"]]},{"id":"21a72bde.f679c4","type":"ui_text","z":"54d10c21.f0adc4","group":"ece7a8ed.cee558","order":1,"width":11,"height":1,"name":"","label":"Turn On Mic to speek....","format":"{{msg.payload}}","layout":"col-center","x":670,"y":600,"wires":[]},{"id":"b71bf5c7.abfa18","type":"switch","z":"54d10c21.f0adc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pump on","vt":"str"},{"t":"eq","v":"fill pump","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":660,"wires":[["d661d69d.537f58"],["913e11a7.e0c47"],["e9fa8d2e.126eb"]]},{"id":"e732da60.3deda8","type":"ui_text","z":"54d10c21.f0adc4","group":"7fee346d.b85aac","order":1,"width":0,"height":0,"name":"","label":"Lubrication Status","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":280,"wires":[]},{"id":"c1b3e5d.64dff18","type":"ui_text","z":"54d10c21.f0adc4","group":"7fee346d.b85aac","order":2,"width":11,"height":1,"name":"","label":"Msg Received From Admin","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":480,"wires":[]},{"id":"d03b88cf.469818","type":"ui_template","z":"54d10c21.f0adc4","group":"ece7a8ed.cee558","name":"","order":3,"width":0,"height":0,"format":"<style >\n\nbody{\n    background-image: url(\"https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kdXN0cmlhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80\");\n    background-size: 100%;\n    \n}\n\n#Lubrication_Pump_For_Industries_Voice_Control{\n    width : 760px;\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n    height : 202px;\n    \n    \n    \n}\n#Lubrication_Pump_For_Industries_Pump_Level{\n    width : 430px;\n    height : 624px;\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n\n}\n#Lubrication_Pump_For_Industries_Lubrication_Level_in_Machines{\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n    height : 624px;\n\n}\n#Lubrication_Pump_For_Industries_Last_Activity{\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    width : 760px;\n    height : 202px;\n    box-shadow: 2px 2px 5px orange;\n\n}\n#Lubrication_Pump_For_Industries_Notification{\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n    height : 202px;\n    width : 760px;\n\n}\n\n\n\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":140,"wires":[[]]},{"id":"3c0576f0.fcd2ea","type":"ui_text","z":"54d10c21.f0adc4","group":"b2424785.c3dfc8","order":1,"width":11,"height":1,"name":"TextField","label":"","format":"{{msg.payload}}","layout":"col-center","x":900,"y":420,"wires":[]},{"id":"9525298.53324d8","type":"function","z":"54d10c21.f0adc4","name":"","func":"msg.payload = msg.payload.msgfromadmin\nglobal.set('msadm',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[["c1b3e5d.64dff18"]]},{"id":"7a2b8fd9.416c5","type":"switch","z":"54d10c21.f0adc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"VERY LOW","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":320,"wires":[["a46ca764.35d228"]]},{"id":"a46ca764.35d228","type":"ui_toast","z":"54d10c21.f0adc4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Lubrication needed fast...","name":"","x":910,"y":320,"wires":[[]]},{"id":"e9fa8d2e.126eb","type":"ui_toast","z":"54d10c21.f0adc4","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Command Not recognised","name":"","x":1040,"y":820,"wires":[]},{"id":"cb3813c1.dec85","type":"http in","z":"54d10c21.f0adc4","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":190,"y":880,"wires":[["9cf4c70.dac0838"]]},{"id":"9c673d60.3db67","type":"http response","z":"54d10c21.f0adc4","name":"","statusCode":"","headers":{},"x":750,"y":880,"wires":[]},{"id":"9cf4c70.dac0838","type":"function","z":"54d10c21.f0adc4","name":"Sending Data To App","func":"msg.payload = {\"Lubricationlevel\":global.get('lublev'),\"Pumplevel\":global.get('pmplev'),\"Stats\":global.get('sts'),\"Recentactiv\":global.get('lastact')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":880,"wires":[["9c673d60.3db67"]]},{"id":"330f7aa4.bf0e56","type":"http in","z":"54d10c21.f0adc4","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":1010,"y":700,"wires":[["33842bf8.fd4d84"]]},{"id":"ef77198d.b3d678","type":"function","z":"54d10c21.f0adc4","name":"Last Activity","func":"msg.payload = msg.payload.Recentactiv\nglobal.set('lastact',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":420,"wires":[["3c0576f0.fcd2ea"]]},{"id":"d661d69d.537f58","type":"ui_form","z":"54d10c21.f0adc4","name":"","label":"","group":"8b3bfa10.d1a138","order":2,"width":0,"height":0,"options":[{"label":"Desired Lubrication Level","value":"command","type":"number","required":true,"rows":null}],"formValue":{"command":""},"payload":"","submit":"Pump on","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":990,"y":660,"wires":[["33842bf8.fd4d84"]]},{"id":"fe8379e1.acda08","type":"function","z":"54d10c21.f0adc4","name":"Error Notification","func":"msg.payload = msg.payload.er\nif(msg.payload == \"\")\n{\n    \n    return \" \";\n}\nelse\n{\nglobal.set('eror',msg.payload)\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":540,"wires":[["43a19a6.ed37164"]]},{"id":"42557683.1387b8","type":"ui_toast","z":"54d10c21.f0adc4","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Caution!","name":"","x":1030,"y":560,"wires":[[]]},{"id":"43a19a6.ed37164","type":"switch","z":"54d10c21.f0adc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":540,"wires":[[],["42557683.1387b8"]]},{"id":"198dd0ba.e452af","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8b3bfa10.d1a138","type":"ui_group","name":"Lubrication Level in Machines","tab":"556b90c0.c3a95","order":2,"disp":true,"width":7,"collapse":false},{"id":"ece7a8ed.cee558","type":"ui_group","name":"Voice Control","tab":"556b90c0.c3a95","order":5,"disp":true,"width":11,"collapse":false},{"id":"d67e45f4.581ec8","type":"ui_group","name":"Pump Level","tab":"556b90c0.c3a95","order":1,"disp":true,"width":"6","collapse":false},{"id":"7fee346d.b85aac","type":"ui_group","name":"Notification","tab":"556b90c0.c3a95","order":3,"disp":true,"width":11,"collapse":false},{"id":"b2424785.c3dfc8","type":"ui_group","name":"Last Activity","tab":"556b90c0.c3a95","order":4,"disp":true,"width":11,"collapse":false},{"id":"556b90c0.c3a95","type":"ui_tab","name":"Lubrication Pump For Industries","icon":"dashboard","order":5,"disabled":false,"hidden":false}]